.header {
    position: sticky;
    top: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #282c34;
    color: #ffffff;
}

.cart-header {
    position: relative;
}

.cart-header button {
    padding: 3px 13px;
}

.cart-amount {
    position: absolute;
    top: -10px;
    left: 40px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: brown;
}

.cart-btn {
    font-size: 20px;
}